---
layout: default
title: Home
---


        <div class="posts">

                {% for post in paginator.posts %}
                <div class="post">
                  <h1 class="post-title">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      {{ post.title }}
                    </a>
                  </h1>

                  <span class="meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</span>

                  {{ post.content }} 

                  </hr>
                </div>

                {% endfor %}
        </div>


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
