.nav {
	padding-bottom: 2.5rem;
}
.navbar-brand {
	font-size: 1.25rem;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	color: #505050;
}

a {
	color: #0085a1;
	text-decoration: none;
}

a:hover, a:focus {
	color: #0085a1;
	text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}