/**
 * TAGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
 /*
.tags {
  list-style: none;
  padding: 0;
  text-align: justify; }

.tags li {
  display: inline-block;
  margin: 0 25px 25px 0; }

.tags li:last-child {
  margin-right: 0; }

.tag {
  background: #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  color: #888;
  padding: 2px 8px 2px 8px;
  text-decoration: none; }

.tag:visited {
  color: #888; }

.tag:hover {
  background: #ccc;
  color: #777; }

  */

  
/*****************************************************************************/
/*
/* Tags
/*
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1rem;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

@media screen and (min-width: 768px) {
  .site .footer .links {
    display: table-row;
    float: right;
    width: 80%;
  }
  .site .footer .contact {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .site {
    margin: 1em auto 2em;
  }
  .site .header h1.title {
    margin: 0;
  }
  .nav {
    display: block;
    margin: 0 0 2em;
  }
  ul.posts li {
    margin-left: 1em;
  }
  ul.posts span {
    display: block;
    margin-left: -1em;
  }
}

/** tags **/

.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}

.tag h2 {
  height: 50px !important;
  line-height: 50px !important;
  height: 100px;
}

/*
.tag span {
  font-weight: bold;
  font-size: 8px; !important;
  font-size: 0.525rem; !important;
}
*/