<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>



  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ "/public/css/bootstrap.min.css" | prepend: site.baseurl }}">



    <!-- CSS -->
  <link rel="stylesheet" href="{{ "/public/css/poole.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/public/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/public/css/clean-blog.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/public/css/tags.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/public/css/main.css" | prepend: site.baseurl }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/public/apple-touch-icon-144-precomposed.png" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/public/favicon.ico" | prepend: site.baseurl }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/atom.xml" | prepend: site.baseurl }}">

      <!-- Custom Fonts -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
</head>
