{% if page.share %}
<div class='kcy_karmacracy_widget_h_3503249939233300506'>
</div><script defer='defer' src='http://rodney.karmacracy.com/widget-3.0/?id=3503249939233300506&type=h&width=700&sc=0&rb=1&c1=f2f2f2&c2=fff&c3=f2f2f2&c4=353535&c5=067dba&c6=ffffff&c7=353535&c9=353535&medio-id=undefined&url=http://karmacracy.com'>
</script>
{% endif %}
